/* h1 {
  font-family: SF Distant Galaxy AltOutline , cursive;
  font-size: 80px;
  letter-spacing: 0.27em;
}

td {
  font-family: Arial , Helvetica , sans-serif;
  line-height: 80px;
  word-wrap: break-word;
} */
